*{
    font-family: 'Work Sans';
}
/* Banner Style */
.banner{
    background-image: url("images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 2000px;
    margin-top: -65px;
    margin-left: -8px;
    margin-right: -8px;
}


.title{
    font-weight: 700;
    font-size: 65px;
    padding: 193px 220px 24px 855px;
    text-align: right;
}
.title-description{
    padding: 0 230px 32px 876px;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    line-height: 26px;
}
/* Button Style */
.contact-button{
    height: 64px;
    border: 0;
    border-radius: 10px;
    background-color: #F15B22;
    color: #FFFFFF;
    padding: 18px 35px;
    margin: 0px 230px 167px 1530px;
    font-size: 15px;
    font-weight: 400px;
}
/* Container Style */
.container{
    margin: 130px 250px;
    display: flex;
    gap: 80px;
}
.description{
    margin-top: 200px;
}
.failures-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
.failures-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.check-line{
    width: 349px;
    height: 162px;
    left: 853px;
    top: 1416px;
}
/* My plans Section */
.my-plans{
    margin: 0px 250px 130px 250px;
    text-align: center;
}
.plans-title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}
.plans{
    display: flex;
    gap: 85px;
    padding: 0 155px 0 155px;
}
.plans-name{
    font-weight: 700;
    font-size: 30px;
    
}
.plans-description{
    font-weight: 500;
    font-size: 25px;
}