*{
    font-family: 'Work Sans';
}
/* remobe defult margin */
body{
    margin: 0px;
}
/* Banner Style */
.banner{
    background-image: url("images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -65px;
}


.title{
    font-weight: 700;
    font-size: 65px;
    padding: 177px 220px 0px 855px;
    text-align: right;
}
.title-description{
    padding: 0 230px 32px 876px;
    text-align: right;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    line-height: 26px;
}
/* Button Style */
.contact-button{
    height: 64px;
    border: 0;
    border-radius: 10px;
    background-color: #F15B22;
    color: #FFFFFF;
    padding: 18px 35px;
    margin: 0px 230px 167px 1530px;
    font-size: 15px;
    font-weight: 400px;
}
/* Container Style */
.container{
    margin: 130px 250px;
    display: flex;
    gap: 80px;
}
.description{
    margin-top: 200px;
}
.failures-title{
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}
.failures-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.check-line{
    width: 349px;
    height: 162px;
    left: 853px;
    top: 1416px;
}
/* My plans Section */
.my-plans{
    margin: 0px 250px 130px 250px;
    text-align: center;
}
.plans-title{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}
.plans{
    display: flex;
    gap: 85px;
    padding: 0 155px 0 155px;
}
.plans-name{
    font-weight: 700;
    font-size: 30px;
    
}
.plans-description{
    font-weight: 500;
    font-size: 25px;
}
/* Banner2 style */
.banner2{
    margin: 0 300px 130px 350px;
    background-image:url("images/gradient2.png") , url("images/watch.png");
    width: 1140px;
    height: 300px;
}

.banner2-title{
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding: 60px 615px 0px 65px;
}
/* Banner2 Button Style */
.call-btn{
    height: 64px;
    border: 0;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #F15B22;
    margin: 0px 915px 60px 64px;
    font-size: 15px;
    font-weight: 400px;
    padding: 18px 35px;
}
/* Contact Section Style */
.contact{
    display: flex;
    gap: 335px;
    background-color: black;
    color: #ffffff;
}
.contact-info{
    margin: 105px 0px 105px 350px;
}
.form{
    margin: 105px 200px 270px 0;
}
.form input[type="email"]{
    margin-bottom: 24px;
    border: 0;
    border-radius: 10px;
    width: 350px;
    padding: 18px 30px;
}
.subscribe-btn{
    height: 64px;
    border: 0;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #F15B22;
    font-size: 15px;
    font-weight: 400px;
    padding: 18px 35px;
}
/* Font style */
.info-title{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
}
.info-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.form-title{
    font-weight: 600;
    font-size: 25px;
}
